.html{
    scroll-behavior: smooth;
}

.About {
    display : flex;
    align-items : center;
    flex-direction: row;
    justify-content : center;
    height : 75vh;
    margin-bottom: 5rem ;
}
.Picture{
    margin: 3rem;
}
.Picture img{
    width: 300px;
    height: 400px;
    border-radius: 30px;
}
.content {
    max-width: 350px;
}
@media (max-width: 1005px){
    .About{
flex-direction:column;
height: unset;
}
.Picture{
    margin: 2rem;
}
}
